html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
  
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --dark-gray-color: #505050;
    --ligth-gray-color: #bebebe;
    --text-color:#2d2d2d;
}
  
body {
    background-color: #757575;
}

a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 12px;
}

.container {
    margin: 30px auto;
    max-width: 1024px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: var(--ligth-gray-color);
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.colums {
  display: flex;
}

.colums .aside {
  width: 30%;
  background-color: var(--ligth-gray-color);
  color: var(--dark-gray-color);
}

.aside .contacts{
  background-color: var(--ligth-gray-color);
}

.header .header-photo {
  width: 30%;
}

.header .header-photo img {
  display: block;
  width: 100%;
}

.aside h3 {
  width: 150px;
  margin: 40px auto 20px;
  padding: 5px 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--ligth-gray-color);
  background-color: var(--dark-gray-color);
}

.aside li {
  margin-bottom: 10px;
}

.header .header-left {
  width: 70%;
  background-color: #fff;
}

.contacts a {
  color: var(--dark-gray-color);
}

.aside .contacts a:hover {
  color: black;
}

.language-name {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.languages li p {
  margin: 0;
  padding: 0;
}

.main {
    width: 70%;
    color: var(--text-color);
    background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-menu {
  margin: 40px 0;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
}
        
.header-menu-item {
  margin-right: 35px;
}

.header-menu-item:hover .divider-link {
  width: 100%
}
       
.header-menu-link {
  margin: 0;
  transition: 0.5s all ease-in-out;
}  

.burger-btn {
    display: none;
}

.header .header-name {
    width: 100%;
    max-height: 200px;
    background-color: var(--ligth-gray-color);
    padding: 65px 50px;
    text-transform: uppercase;
}

.header .header-name .name {
    font-size: 47px;
    font-weight: 600;
}

.header .header-name .name span {
    font-weight: 700;
}
  
.header .header-name .prof {
    font-size: 20px;
    font-weight: 500;
}
 
.main-wraper {
    width: 100%;
    padding: 0 40px;
}

.main-wraper .sub-header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
}

.main-wraper .sub-header h3 {
    margin: auto 15px;
}
  
.main-wraper .about-me .sub-header {
    margin-top: 0;
}
  
.about-me p {
    margin-bottom: 10px;
    margin-left: 45px;
}
  
.about-me p:last-of-type {
    margin-bottom: 30px;
}

.education .education-ul li  {
  margin-left: 5px;
}

.education .education-ul strong {
  font-weight: 500;
}

.education .education-ul a:hover {
  color: #8898a7;
}

.education .education-ul li:last-of-type {
  margin-bottom: 30px;
}

.projects .projects-ul li {
  margin-left: 5px;
}

.projects .projects-ul a:hover {
  color: #8898a7;
}

.projects .projects-ul li:last-of-type {
  margin-bottom: 30px;
}

.code-example {
  line-height: 30px;
}

.divider-black {
    display: block;
    height: 2px;
    background-color: var(--text-color);
    margin: 10px 0px;
    margin-left: 45px;
}

.divider-link {
  display: block;
  height: 2px;
  background-color: var(--dark-gray-color);
  width: 0%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: var(--dark-gray-color);
}
  
footer a {
    text-decoration: none;
    color: #ffffff;
}
  
footer .github-icon {
    margin-right: 10px;
}
  
.github {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
  .container {
    width: 768px;
    font-size: 90%;
  }
  
  .aside ul {
    padding-left: 25px;
  }
  
  .header-menu {
    margin: 15px 0;
  }
  
  .header .header-name .name {
    font-size: 36px;
  }
  
  .code-example {
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    font-size: 110%;
  }

  .header .header-name {
    height: 170px;
  }

  .header .header-name .name {
    transform: translateY(-40%);
  }

  .header .header-name .prof {
    transform: translateY(-60%);
  }

  .main {
    width: 100%;
  }

  .header {
    flex-direction: column-reverse;
  }

  .header .header-left {
    width: 100%;
  }

  .aside ul {
    padding-left: 20%;
  }

  .aside h3 {
    margin-top: 0;
  }

  .header .header-photo {
    width: 40%;
    margin: 0 auto;
  }

  .colums .aside {
    width: 100%;
  }

  .colums {
    flex-direction: column-reverse;
  }

  .main .main-wraper {
    padding-top: 20px;
  }

  .code-example {
    line-height: 20px;
  }
}
